{% extends 'layout.html' %}

{% block content %}
<head>

</head>
<body>
     <div id="LoginShadow"></div>
    <div id="LoginOverlay">
        <form action="{{'ask_and_answer.html'}}" method='POST' id="ChangePasswordForm">
            <input type="hidden" name="typing" value="LoginChange">
            <h2 id="LoginName">{{UserNamed}}</h2>
            <h2 id="LoginPass">Change Password</h2>
            <input type="text" id="oldpassword" name="oldpassword" required minlength="8" maxlength="20" size="10" placeholder="Type Old Password Here">
            <input type="text" id="newpassword" name="newpassword" required minlength="8" maxlength="20" size="10" placeholder="Type New Password Here">
            <button id="LoginButton">Confirm</button>
            <p id="Success">{{Success}}</p>
        </form>
        <button id="exitedLogin"><img id="exitLogin" src="static\images\Exit.jpg" alt="Exit"></button>

        <form action="{{'ask_and_answer.html'}}" method='POST' id="ChangePasswordForm">
            <input type="hidden" name="typing" value="LoggingOut">
            <button id="LogoutButton">Log Out</button>
        </form>
    </div>

    <div id="shadow"></div>
    <div id="overlayed">
        <h2 id="OverlayTitle">Would you like to ask questions or submit answers?</h2>
        <a class="Qbutton" id="PythonQs" href="messages.html">Questions</a>
        <a class="Abutton" id="PythonAs" href="signin.html">Answers</a>
        <p id="OverlaySmall">Python</p>
        <button id="exited"><img id="exit" src="static\images\Exit.jpg" alt="Exit"></button>
    </div>
    <div>
        <div class="program_block" class="container">
            <img id="program_background" src="static\images\code_background_1.jpg" alt="VSCode Extensions site logo." />
            <button class="CreateOverlay" id="Python"><h1 id="program_title" class="centered">Python (.py)</h1></button>
        </div>
        <div class="program_block" class="container">
            <img id="program_background" src="static\images\code_background_2.jpg" alt="VSCode Extensions site logo." />
            <button class="CreateOverlay" id="Java"><h1 id="program_title1" class="centered">Java (.java)</h1></button>
        </div>
        <div class="program_block" class="container">
            <img id="program_background" src="static\images\code_background_3.webp" alt="VSCode Extensions site logo." />
            <button class="CreateOverlay" id="Javascript"><h1 id="program_title2" class="centered">Javascript (.js)</h1></button>
        </div>
        <div class="program_block" class="container">
            <img id="program_background" src="static\images\code_background_4.png" alt="VSCode Extensions site logo." />
            <button class="CreateOverlay" id="C#"><h1 id="program_title3" class="centered">C# (.cs)</h1></button>
        </div>
        <div class="program_block" class="container">
            <img id="program_background" src="static\images\code_background_5.jpg" alt="VSCode Extensions site logo." />
            <button class="CreateOverlay" id="C++"><h1 id="program_title4" class="centered">C++ (.cpp)</h1></button>
        </div>
        <div class="program_block" class="container">
            <img id="program_background" src="static\images\code_background_6.jpg" alt="VSCode Extensions site logo." />
            <button class="CreateOverlay" id="SQL"><h1 id="program_title5" class="centered">SQL (.sql)</h1></button>
        </div>
        <div class="program_block" class="container">
            <img id="program_background" src="static\images\code_background_7.jpg" alt="VSCode Extensions site logo." />
            <button class="CreateOverlay" id="Html"><h1 id="program_title6" class="centered">Html (.html)</h1></button>
        </div>
        <div class="program_block" class="container">
            <img id="program_background" src="static\images\code_background_8.jpg" alt="VSCode Extensions site logo." />
            <button class="CreateOverlay" id="Css"><h1 id="program_title7" class="centered">Css (.css)</h1></button>
        </div>
        
        <form action="{{'ask_and_answer.html'}}" method='POST' id="ChangingProgram">
            <input type="hidden" name="typing" value="ChangeProgramLang">
            <input type="hidden" name="ChangeLang" value="" id="ChangeLang">
        </form>

    </div>
    <div id="menu">
        <nav id="bottomnav1">
            <h1 id="bottomtitled">Ask & Answer</h1>
            <ul class="topnav">
                <li id="bottom_menu_text1"><a href="ask_and_answer.html">Ask & Answer</a></li>
                <li id="bottom_menu_text2"><a href="add.html">Messages</a></li>
                <li id="bottom_menu_text3"><a href="homepage.html">Home</a></li>
                <li id="bottom_menu_text4"><a href="login.html">Login In / Sign In</a></li>
            </ul>
        </nav>
    </div>
</body>
{% endblock %}