{% extends 'layout.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="../Temples/static/css/style.css"/>
    <script async src="../Temples/static/css/function.js"></script>
</head>
<body>
    <div>
        <div id="program_block" class="container">
            <img id="program_background" src="static\images\code_background_1.jpg" alt="VSCode Extensions site logo." />
            <button id="CreateOverlay" id="Python"><h1 id="program_title" class="centered">Python (.py)</h1></button>
        </div>
        <div id="program_block" class="container">
            <img id="program_background" src="static\images\code_background_2.jpg" alt="VSCode Extensions site logo." />
            <button id="CreateOverlay" id="Java"><h1 id="program_title1" class="centered">Java (.java)</h1></button>
        </div>
        <div id="program_block" class="container">
            <img id="program_background" src="static\images\code_background_3.webp" alt="VSCode Extensions site logo." />
            <button id="CreateOverlay" id="Javascript"><h1 id="program_title2" class="centered">Javascript (.js)</h1></button>
        </div>
        <div id="program_block" class="container">
            <img id="program_background" src="static\images\code_background_4.png" alt="VSCode Extensions site logo." />
            <button id="CreateOverlay" id="C#"><h1 id="program_title3" class="centered">C# (.cs)</h1></button>
        </div>
        <div id="program_block" class="container">
            <img id="program_background" src="static\images\code_background_5.jpg" alt="VSCode Extensions site logo." />
            <button id="CreateOverlay" id="C++"><h1 id="program_title4" class="centered">C++ (.cpp)</h1></button>
        </div>
        <div id="program_block" class="container">
            <img id="program_background" src="static\images\code_background_6.jpg" alt="VSCode Extensions site logo." />
            <button id="CreateOverlay" id="SQL"><h1 id="program_title5" class="centered">SQL (.sql)</h1></button>
        </div>
        <div id="program_block" class="container">
            <img id="program_background" src="static\images\code_background_7.jpg" alt="VSCode Extensions site logo." />
            <button id="CreateOverlay" id="Html"><h1 id="program_title6" class="centered">Html (.html)</h1></button>
        </div>
        <div id="program_block" class="container">
            <img id="program_background" src="static\images\code_background_8.jpg" alt="VSCode Extensions site logo." />
            <button id="CreateOverlay" id="Css"><h1 id="program_title7" class="centered">Css (.css)</h1></button>
        </div>
        
    </div>
    <div id="menu">
        <nav id="bottomnav1">
            <h1 id="bottomtitled">Ask & Answer</h1>
            <ul class="topnav">
                <li id="bottom_menu_text1"><a href="ask_and_answer.html">Ask & Answer</a></li>
                <li id="bottom_menu_text2"><a href="add.html">Messages</a></li>
                <li id="bottom_menu_text3"><a href="homepage.html">Home</a></li>
                <li id="bottom_menu_text4"><a href="Login.html">Login In / Sign In</a></li>
            </ul>
        </nav>
    </div>
</body>
{% endblock %}