{% extends 'layout.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="../Temples/static/css/style.css"/>
</head>
<body>
    <h2 id="homepage_text">DevBase - Home</h2>
    <p id="BodyText1">DevBase is a helpful tool in game creation and inspiration. Ever felt stuck on a programming issue and couldn’t find anything online? You’re about to enter a world where you’ll never find that issue again, with hundreds users willing to help and answer questions within our messaging database!</p>
    <img id="ImageLogo" src="static\images\logo2.png" alt="VSCode Extensions site logo." />
    <a id="login_button" href="Login.html">Login / Sign In</a>
</body>
{% endblock %}