{% extends 'layout.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="../Temples/static/css/style.css"/>
</head>
<body>
    <div>
        <h2 id="homepage_text">DevBase - Home</h2>
        <p id="BodyText1">DevBase is a helpful tool in game creation and inspiration. Ever felt stuck on a programming issue and couldn’t find anything online? You’re about to enter a world where you’ll never find that issue again, with hundreds users willing to help and answer questions within our messaging database!</p>
        <img id="ImageLogo" src="static\images\logo2.png" alt="VSCode Extensions site logo." />
        <a id="login_button" href="login.html">Login / Sign In</a>
    </div>
    <div>
        <h3 id="homepage_subtitle">Explore our pages!</h3>
        <p id="BodyText2">Want to get some help with coding? Maybe you haven’t chosen your programming language yet? Explore the pages to see what you can do here.</p>
        <a id="buttonA" href="ask_and_answer.html>">Ask & Answer</a>
        <img id="imageA" src="static\images\AskAndAnswer.png" alt="Ask & Answer.">
        <a id="buttonB" href="messages.html>">Messages</a>
        <img id="imageB" src="static\images\AskAndAnswer.png" alt="Messages.">
    </div>
    <div>
        <h2 id="homepage_text2">What do we do here?</h2>
        <p id="BodyText3">Creating a community of future professionals.</p>
        <p id="BodyText3">Our goal here is to help people strive for better and create a supportive community to help newcomers to coding.</p>
        <p id="BodyText3">We’re also preparing for our ever-increasing technological world.</p>
        <p id="BodyText3">We also want to constantly develop to our users’ needs. If you have any feedback, please use this feedback button.</p>
        <a id="buttonC" href="https://docs.google.com/forms/d/1BJrUeTcLL3Vu6Kr3MySLkcLiNIMDpCuRZNXzteWDS8o/edit">Feedback</a>
    </div>
    <div style="display: inline">
        <h3 id="MainMes">"Amazing Community!"</h3>
        <div id="box"></div>
        <img id="profilepic" src="static\images\profilepic.png" alt="Profile Picture.">
        <p id="username">username1</p>
        <p id="description">This user has no description.</p>
    </div>
    <div style="display: inline">
        <h3 id="MainMes1">"The smooth interface made everything easy to understand!"</h3>
        <div id="box1"></div>
        <img id="profilepic1" src="static\images\profilepic.png" alt="Profile Picture.">
        <p id="username1">username2</p>
        <p id="description1">Hi</p>
    </div> 
    <div style="display: inline">
        <h3 id="MainMes2">"Can’t believe this isn’t more popular! This helped me make my first game!"</h3>
        <div id="box2"></div>
        <img id="profilepic2" src="static\images\profilepic.png" alt="Profile Picture.">
        <p id="username2">username3</p>
        <p id="description2">Untitled Document</p>
    </div>
    <div id="menu">
        <nav id="bottomnav">
            <h1 id="bottomtitled">Home</h1>
            <ul class="topnav">
                <li id="bottom_menu_text1"><a href="ask_and_answer.html">Ask & Answer</a></li>
                <li id="bottom_menu_text2"><a href="add.html">Messages</a></li>
                <li id="bottom_menu_text3"><a href="homepage.html">Home</a></li>
                <li id="bottom_menu_text4"><a href="Login.html">Login In / Sign In</a></li>
            </ul>
        </nav>
    </div>
</body>

{% endblock %}

