{% extends 'layout.html' %}

{% block content %}
<body>
     <div id="LoginShadow"></div>
    <div id="LoginOverlay">
        <form action="{{'login.html'}}" method='POST' id="ChangePasswordForm">
            <input type="hidden" name="typing" value="LoginChange">
            <h2 id="LoginName">{{UserNamed}}</h2>
            <h2 id="LoginPass">Change Password</h2>
            <input type="text" id="oldpassword" name="oldpassword" required minlength="3" maxlength="20" size="10" placeholder="Type Old Password Here">
            <input type="text" id="newpassword" name="newpassword" required minlength="3" maxlength="20" size="10" placeholder="Type New Password Here">
            <button id="LoginButton">Confirm</button>
            <p id="Success">{{Success}}</p>
        </form>
        <button id="exitedLogin"><img id="exitLogin" src="static\images\Exit.jpg" alt="Exit"></button>

        <form action="{{'login.html'}}" method='POST' id="ChangePasswordForm">
            <input type="hidden" name="typing" value="LoggingOut">
            <button id="LogoutButton">Log Out</button>
        </form>
    </div>

<p id="PassData">{{VarSend}}</p>
<p id="ErrorMes" class="invisible">{{ErrorMessage}}</p>
<div id="login_menu">
<form action="{{'login.html'}}" method='POST' id="SignInForm"> 
    <input type="hidden" name="typing" value="LoginForm">
    <h3 id = "nameheading">Username</h3>
    <input type="text" name="Type" id="Type" class="invisible">
    <input type="text" id="username" name="username" required minlength="4" maxlength="20" size="10">
    <h3 id = "nameheading2">Password</h3>
    <input type="text" id="password" name="password" required minlength="3" maxlength="20" size="10">
    <button id="LoginIn" type="button"><h1 id="Login_In">Login</h1></button>
    <button id="LoginIn2" type="button"><h1 id="Login_In">Sign Up</h1></button></form>
</div>
<div id="menu">
    <nav id="bottomnav1">
        <h1 id="bottomtitled">Login</h1>
        <ul class="topnav">
            <li id="bottom_menu_text1"><a href="ask_and_answer.html">Ask & Answer</a></li>
            <li id="bottom_menu_text2"><a href="add.html">Messages</a></li>
            <li id="bottom_menu_text3"><a href="homepage.html">Home</a></li>
            <li id="bottom_menu_text4"><a href="login.html">Login In / Sign In</a></li>
        </ul>
    </nav>
</div>
</body>
{% endblock %}