<head>

</head>
<body>
  <div id="menu">
    <nav>
      <img src="static\images\logo.png" alt="VSCode Extensions site logo." />
      <h1 id="titled">DevBase</h1>
      <ul class="topnav">
        <li id="menu_text1"><a href="ask_and_answer.html">Ask & Answer</a></li>
        <li id="menu_text2"><a href="messages.html">Messages</a></li>
        <li id="menu_text3"><a href="homepage.html">Home</a></li>
        <li id="menu_text4"><a href="login.html">Login In / Sign In</a></li>
      </ul>
    </nav>
  </div>
  <div id="menu_fade">
  </div>
</body>