{% extends 'layout.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="../Temples/static/css/style.css"/>
</head>
<body>
    <div>

    </div>
    <div id="menu">
        <nav id="bottomnav2">
            <h1 id="bottomtitled">Messages</h1>
            <ul class="topnav">
                <li id="bottom_menu_text1"><a href="ask_and_answer.html">Ask & Answer</a></li>
                <li id="bottom_menu_text2"><a href="add.html">Messages</a></li>
                <li id="bottom_menu_text3"><a href="homepage.html">Home</a></li>
                <li id="bottom_menu_text4"><a href="Login.html">Login In / Sign In</a></li>
            </ul>
        </nav>
    </div>
</body>
{% endblock %}