{% extends 'layout.html' %}

{% block content %}
<head>

</head>
<body>
    <div>

    </div>
        

    </form>
    <div id="menu">
        <nav id="bottomnav">
            <h1 id="bottomtitled">Sign In</h1>
            <ul class="topnav">
                <li id="bottom_menu_text1"><a href="ask_and_answer.html">Ask & Answer</a></li>
                <li id="bottom_menu_text2"><a href="add.html">Messages</a></li>
                <li id="bottom_menu_text3"><a href="homepage.html">Home</a></li>
                <li id="bottom_menu_text4"><a href="login.html">Login In / Sign In</a></li>
            </ul>
        </nav>
    </div>
</body>
{% endblock %}