@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #DBF0DF;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  width: 100%;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 100px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 1rem;
}

nav ul li a {
  text-decoration-line: none;
  text-transform: uppercase;
  color: #bfe0bd;
}

nav ul li a:hover {
  color: #9BD995;
}

nav h1 {
  color: #D0F1CE;
  margin-bottom: 0.5rem;
  margin-top: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 17rem;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.card-name {
  color: #222;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.card-about {
  text-overflow: ellipsis;
  width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 1rem;
}

.btn {
  border: none;
  background: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.1);
  cursor: pointer;
  font-size: 1.25rem;
  margin: 0 1rem;
  padding: 0.25rem 2rem;
  transition: all 0.25s ease-in-out;
  background: hsl(110, 21%, 93%);
  color: hsl(141, 100%, 22%);
  margin-bottom: 1rem;
}

.btn:focus,
.btn:hover {
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.2);
  background: hsl(111, 21%, 86%);
}

.about-container {
  font-size: 1.25rem;
  margin-top: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

#menu {
  background-color: rgb(20, 20, 20);
  width: 100%;
  height: 100px;
}

#menu_text1 {
  color: rgb(208, 241, 206);
  margin-top: 2px;
  margin-left: -260px;
  font-size: 13px;
}

#menu_text2 {
  color: rgb(208, 241, 206);
  margin-top: 2px;
  margin-left: 0px;
  font-size: 13px;
}

#menu_text3 {
  color: rgb(208, 241, 206);
  margin-top: 2px;
  margin-left: 0px;
  font-size: 13px;
}

#menu_text4 {
  color: rgb(208, 241, 206);
  margin-top: 2px;
  margin-left: 0px;
  font-size: 13px;
}

#titled {
  padding-top:8px;
  padding-right:520px
}

#menu_fade {
  background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 50px;
  margin-top: 0px
}

#homepage_text {
  color: #254A22;
  text-align: left;
  font-weight: bolder;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 50px;
}

#ImageLogo {
  height: 300px;
  text-align: right;
  /* margin-bottom: 200px;
  margin-top: -280px;
  margin-left: 450px; */
  display: inline;
  position: absolute;
  margin-top: -30px;
  margin-left: 450px;
}

#BodyText1 {
  color: #000000;
  text-align: left;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 45%;
  position: absolute;
}

#login_button {
  display: inline-block;
  color: #3D3D3D;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  margin-left: 100px;
  margin-right: 470px;
  margin-bottom: 100px;
  margin-top: 240px;
  background-color: #8CC986;
  border-radius: 5px;
  border-width: 10px;
  border-color: #8CC986;
  visibility: visible;
}

#homepage_subtitle {
  color: #254A22;
  position: relative;
  font-weight: bolder;
  text-decoration: none;
  font-size: 20px;
}

#BodyText2 {
  position: relative;
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
  font-size: 20px;
}

#buttonA {
  display: block;
  position: relative;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  right: 32%;
  color: #3D3D3D;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  background-color: #8CC986;
  border-radius: 5px;
  border-color: #8CC986;
}

#buttonB {
  display: block;
  position: relative;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  left: 32%;
  bottom: 47px;
  color: #3D3D3D;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  background-color: #8CC986;
  border-radius: 5px;
  border-color: #8CC986;
}

#imageA {
  display: block;
  position: absolute;
  text-align: center;
  top: 520px;
  left: 26.25%;
  height: 240px;
}

#imageB {
  display: block;
  position: absolute;
  text-align: center;
  left: 0px;
  top: 560px;
  left: 62.25%;
  height: 185px;
}

#homepage_text2 {
  color: #254A22;
  text-align: left;
  font-weight: bolder;
  font-size: 27px;
  margin-top: 20px;
  margin-left: 50px;
}

#BodyText3 {
  color: #000000;
  text-align: left;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 45%;
  position: relative;
}

#buttonC {
  display: block;
  position: relative;
  width: 150px;
  right: auto;
  top: 20px;
  left: 50px;
  color: #3D3D3D;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  background-color: #8CC986;
  border-radius: 5px;
  border-color: #8CC986;
  margin-bottom: 100px;
}

#box {
  display: block;
  position: absolute;
  text-align: center;
  left: 20%;
  bottom: -890px;
  width: 250px;
  height: 150px;
  border: 5px white solid;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

#box1 {
  display: block;
  position: absolute;
  text-align: center;
  left: 41.1%;
  right: 0px;
  bottom: -890px;
  width: 250px;
  height: 150px;
  border: 5px white solid;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

#box2 {
  display: block;
  position: absolute;
  text-align: center;
  right: 20%;
  bottom: -890px;
  width: 250px;
  height: 150px;
  border: 5px white solid;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

#MainMes {
  display: block;
  position: absolute;
  z-index: 1;
  top: 80em;
  left: 16.2em;
}

#MainMes1 {
  display: block;
  position: absolute;
  text-align: left;
  z-index: 1;
  top: 99.2em;
  left: 40.1em;
  font-size: 15px;
  width: 210px;

}

#MainMes2 {
  display: block;
  position: absolute;
  text-align: left;
  z-index: 1;
  top: 99.2em;
  left: 60.15em;
  font-size: 15px;
  width: 210px;
}

#profilepic {
  display: block;
  position: absolute;
  z-index: 1;
  height: 50px;
  top: 97.5em;
  left: 18.5em;
}

#profilepic1 {
  display: block;
  position: absolute;
  z-index: 1;
  height: 50px;
  top: 97.5em;
  left: 37.25em;
}

#profilepic2 {
  display: block;
  position: absolute;
  z-index: 1;
  height: 50px;
  top: 97.5em;
  left: 56em;
}

#username3 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 97.8em;
  left: 22em;
}

#username1 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 97.8em;
  left: 40.7em;
}

#username2 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 97.8em;
  left: 59.4em;
}

#description {
  display: block;
  position: absolute;
  z-index: 1;
  top: 132.2em;
  left: 29.3em;
  font-size: 12px;
  color: grey
}

#description1 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 132.2em;
  left: 54.25em;
  font-size: 12px;
  color: grey
}

#description2 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 132.2em;
  left: 79.2em;
  font-size: 12px;
  color: grey
}

#bottomnav{
  position: relative;
  margin-top: 350px;
}

#bottomnav1{
  position: relative;
  margin-top: 50px;
}

#bottomnav2{
  position: relative;
  margin-top: 50px;
}

#bottomtitled {
  margin-left: 30px;
  padding-top: 25px;
  padding-right:520px;
}

#bottom_menu_text1 {
  color: rgb(208, 241, 206);
  margin-top: 21px;
  margin-left: -260px;
  font-size: 13px;
}

#bottom_menu_text2 {
  color: rgb(208, 241, 206);
  margin-top: 21px;
  margin-left: 0px;
  font-size: 13px;
}

#bottom_menu_text3 {
  color: rgb(208, 241, 206);
  margin-top: 21px;
  margin-left: 0px;
  font-size: 13px;
}

#bottom_menu_text4 {
  color: rgb(208, 241, 206);
  margin-top: 21px;
  margin-left: 0px;
  font-size: 13px;
}

#login_menu {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  height: 230px;
  background-color: black;
  border: 20px solid black;
  border-radius: 15px;
}

.program_block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 90%;
  height: 200px;
  background-color: #D6EECE;
  border: 10px solid #B8DCB6;
  border-radius: 10px
}

#program_background {
  object-fit: cover;
  width: 97%;
  height: 95%;
  margin-top: 5px;
  margin-left: 7px;
  border-radius: 7px;
  filter: blur(1px);
}

#program_title {
  z-index: 1;
  width: 57%;
  height: 22%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: #8CC986;
  top: 183px;
  left: 21.5%;
  visibility: visible;
}

#program_title1 {
  z-index: 1;
  width: 57%;
  height: 22%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: #8CC986;
  top: 393px;
  left: 21.5%;
  visibility: visible;
}

#program_title2 {
  z-index: 1;
  width: 57%;
  height: 22%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: #8CC986;
  top: 603px;
  left: 21.5%;
  visibility: visible;
}

#program_title3 {
  z-index: 1;
  width: 57%;
  height: 22%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: #8CC986;
  top: 813px;
  left: 21.5%;
  visibility: visible;
}

#program_title4 {
  z-index: 1;
  width: 57%;
  height: 22%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: #8CC986;
  top: 1023px;
  left: 21.5%;
  visibility: visible;
}

#program_title5 {
  z-index: 1;
  width: 57%;
  height: 22%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: #8CC986;
  top: 1233px;
  left: 21.5%;
  visibility: visible;
}

#program_title6 {
  z-index: 1;
  width: 57%;
  height: 22%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: #8CC986;
  top: 1443px;
  left: 21.5%;
  visibility: visible;
}

#program_title7 {
  z-index: 1;
  width: 57%;
  height: 22%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: #8CC986;
  top: 1653px;
  left: 21.5%;
  visibility: visible;
}

#program_title:hover {
  z-index: 1;
  width: 57%;
  height: 22%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 77px;
  color: #78b272;
  top: 183px;
  left: 21.5%;
  visibility: visible;
}

#program_title1:hover {
  z-index: 1;
  width: 57%;
  height: 22%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 77px;
  color: #78b272;
  top: 393px;
  left: 21.5%;
  visibility: visible;
}

#program_title2:hover {
  z-index: 1;
  width: 57%;
  height: 22%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 77px;
  color: #78b272;
  top: 603px;
  left: 21.5%;
  visibility: visible;
}

#program_title3:hover {
  z-index: 1;
  width: 57%;
  height: 22%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 77px;
  color: #78b272;
  top: 813px;
  left: 21.5%;
  visibility: visible;
}

#program_title4:hover {
  z-index: 1;
  width: 57%;
  height: 22%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 77px;
  color: #78b272;
  top: 1023px;
  left: 21.5%;
  visibility: visible;
}

#program_title5:hover {
  z-index: 1;
  width: 57%;
  height: 22%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 77px;
  color: #78b272;
  top: 1233px;
  left: 21.5%;
  visibility: visible;
}

#program_title6:hover {
  z-index: 1;
  width: 57%;
  height: 22%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 77px;
  color: #78b272;
  top: 1443px;
  left: 21.5%;
  visibility: visible;
}

#program_title7:hover {
  z-index: 1;
  width: 57%;
  height: 22%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 77px;
  color: #78b272;
  top: 1653px;
  left: 21.5%;
  visibility: visible;
}

.CreateOverlay {
  z-index: 0;
  visibility: hidden;
  /* width: 50%;
  height:50%; */
  cursor: pointer;
}

#shadow {
  z-index: 5;
  position: fixed;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background-color: rgb(0, 0, 0, 0.5);
  visibility: hidden;
}

#shadow2 {
  z-index: 5;
  position: fixed;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background-color: rgb(0, 0, 0, 0.5);
  visibility: visible;
}

#overlayed {
  z-index: 10;
  position: fixed;
  text-align: center;
  top: 35%;
  left: 30%;
  right: 30%;
  background-color: #D6EECE;
  border: 10px solid #B8DCB6;
  border-radius: 15px;
  height: 200px;
  visibility: hidden;
}

#overlayed2 {
  z-index: 10;
  position: fixed;
  text-align: center;
  top: 35%;
  left: 30%;
  right: 30%;
  background-color: #D6EECE;
  border: 10px solid #B8DCB6;
  border-radius: 15px;
  height: 200px;
  visibility: visible;
}

#OverlayTitle {
  text-align: center;
  color: #7A9F77;
  font-size: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.Qbutton {
  position: relative;
  font-size: 30px;
  width: 100px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #8CC986;
  border: 5px solid #8CC986;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  top: 25px;
  margin-right: 60px;
}

.Abutton {
  position: relative;
  font-size: 30px;
  padding: 5px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #8CC986;
  border: 5px solid #8CC986;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  top: 25px;
  margin-left: 60px;
}

.Qbutton:hover {
  position: relative;
  font-size: 28px;
  width: 100px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #8CC986;
  border: 5px solid #8CC986;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  top: 25px;
  margin-right: 68px;
}

.Abutton:hover {
  position: relative;
  font-size: 28px;
  padding: 5px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #8CC986;
  border: 5px solid #8CC986;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  top: 25px;
  margin-left: 68px;
}

#OverlaySmall {
  position: absolute;
  text-align: center;
  color: #7A9F77;
  bottom: 5px;
  width: 100%;
}

#exited {
  visibility: hidden;
  cursor:pointer;
}

#exit {
  position: absolute;
  height: 30px;
  top: 5px;
  right: 5px;
}

#exit2 {
  position: absolute;
  height: 30px;
  top: 5px;
  right: 5px;
  visibility: visible;
}

#nameheading {
  margin-top: -5px;
  margin-bottom: 0px;
  color: #9BD995;
}

#username {
  display: inline;
  position: relative;
  text-align: center;
  left: 0px;
  top: 10px;
  margin-right: 0%;
  width: 70%;
  background-color: #D6EECE;
  border-color: #bfe0bd;
  border-radius: 5px;
}

#nameheading2 {
  margin-top: 20px;
  margin-bottom: 0px;
  color: #9BD995;
}

#password {
  display: inline;
  position: relative;
  text-align: center;
  left: 0px;
  top: 10px;
  margin-right: 0%;
  width: 50%;
  background-color: #D6EECE;
  border-color: #bfe0bd;
  border-radius: 5px;
}

#LoginIn {
  position: relative;
  display: block;
  text-align: center;
  left: 20%;
  top: 35px;
  background-color:#D0F1CE;
  width: 25%;
  height: 30px;
  cursor: pointer;
  border: 5px solid #bfe0bd;
  border-radius: 5px;
}

#LoginIn:hover {
  position: relative;
  display: block;
  text-align: center;
  left: 20%;
  top: 35px;
  background-color:#bfe0bd;
  width: 25%;
  height: 30px;
  cursor: pointer;
  border: 5px solid #bfe0bd;
  border-radius: 5px;
  right: 50px;
}

#Login_In {
  font-size: 20px;
}

#LoginIn2 {
  position: relative;
  display: block;
  text-align: center;
  left: 55%;
  top: 5px;
  background-color:#D0F1CE;
  width: 25%;
  height: 30px;
  cursor: pointer;
  border: 5px solid #bfe0bd;
  border-radius: 5px;
}

#LoginIn2:hover {
  position: relative;
  display: block;
  text-align: center;
  left: 55%;
  top: 5px;
  background-color:#bfe0bd;
  width: 25%;
  height: 30px;
  cursor: pointer;
  border: 5px solid #bfe0bd;
  border-radius: 5px;
}

#ErrorMes {
  color: white;
  font-size: 15px;
  margin-bottom: 5px;
  background-color: red;
  border: 10px solid red;
  text-align: center;
  width: 60%;
  border-radius: 5px;
  margin-left: 20%;
  margin-top: 20px;
}

#ErrorMesNo {
  color: white;
  font-size: 10px;
  margin-bottom: 5px;
  background-color: red;
  border: 10px solid red;
  text-align: center;
  width: 60%;
  border-radius: 5px;
  margin-left: 20%;
  margin-top: 20px;
}

#PassData {
  visibility: hidden;
  width: 0px;
  height: 0px;
  font-size: 0px;
  top: -500%;
  right: -500%;
  position: fixed;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
  width: 0px;
  height: 0px;
  font-size: 0px;
  top: -500%;
  right: -500%;
  position: fixed;
}

#LoginOverlay {
  z-index: 10;
  position: fixed;
  text-align: center;
  top: 25%;
  left: 30%;
  right: 30%;
  background-color: #D6EECE;
  border: 10px solid #B8DCB6;
  border-radius: 15px;
  height: 50%;
  visibility: hidden;
}

#LoginShadow {
  z-index: 5;
  position: fixed;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background-color: rgb(0, 0, 0, 0.5);
  visibility: hidden;
}

#LoginName {
  margin-top: 20px;
}

#LoginPass {
  margin-top: 20px;
  font-size: 18px;
}

#oldpassword {
  display: inline;
  position: relative;
  text-align: center;
  left: 0px;
  top: 5px;
  margin-right: 0%;
  width: 80%;
  background-color: #d6eecec1;
  border-color: #bfe0bd;
  border-radius: 5px;
}

#newpassword {
  display: inline;
  position: relative;
  text-align: center;
  left: 0px;
  top: 10px;
  margin-right: 0%;
  width: 80%;
  background-color: #d6eecec1;
  border-color: #bfe0bd;
  border-radius: 5px;
}

#LoginButton {
  position: relative;
  display: block;
  left: 35%;
  font-size: 17px;
  width: 30%;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #8CC986;
  border: 5px solid #8CC986;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  top: 15px;
}


#LoginButton:hover {
  position: relative;
  display: block;
  left: 36%;
  font-size: 17px;
  width: 28%;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #7bb376;
  border: 5px solid #7bb376;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  top: 15px;
}

#Success {
  position: relative;
  display: block;
  margin-top: 22px;
  font-size: 15px;
  color: red;
}

#exitedLogin {
  visibility: hidden;
  cursor:pointer;
}

#exitLogin {
  position: fixed;
  height: 30px;
  top: 27%;
  right: 31%;
}

#LogoutButton {
  position: relative;
  display: block;
  left: 35%;
  font-size: 17px;
  width: 30%;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #8CC986;
  border: 5px solid #8CC986;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  top: 30px;
}


#LogoutButton:hover {
  position: relative;
  display: block;
  left: 36%;
  font-size: 17px;
  width: 28%;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #7bb376;
  border: 5px solid #7bb376;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  top: 30px;
}

#GoBack {
  position: absolute;
  z-index: -1;
  height: 900px;
  width: 5%;
  margin-top: -50px;
  left: 266.5px;
  background-color: rgb(0, 0, 0, 0.3);
}

#GoBackLeave {
  visibility: hidden;
  cursor:pointer;
}

#GoBackImg {
  position: absolute;
  left: 290px;
  height: 50px;
  top: 170px;
  visibility: visible;
}
#GoBackText {
  position: absolute;
  transform: rotate(270deg);
  left: 185px;
  top: 335px;
}

#SubmitOr {
  position: absolute;
  z-index: -1;
  height: 900px;
  width: 5%;
  margin-top: -70px;
  right: 266.5px;
  background-color: rgb(0, 0, 0, 0.3);
}

#SubmitOrLeave {
  visibility: hidden;
  cursor:pointer;
}

#SubmitOrImg {
  position: absolute;
  right: 290px;
  height: 50px;
  top: 170px;
  transform: rotate(180deg);
  visibility: visible;
}

#SubmitOrText {
  position: absolute;
  transform: rotate(90deg);
  right: 130px;
  top: 400px;
}

.CustomText {
  background-color: #505050;
  border: #505050 10px solid;
  border-radius: 10px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
}

.CustomMessage {
  position: relative;
  color: white;
  font-size: 20px;
  text-align: center;
  left: 10%;
  max-width: 80%;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.Deletion {
  visibility: hidden;
  cursor:pointer;
  position: relative;
  float: left;
  vertical-align: top;
}

.DeletionImg {
  visibility: visible;
  position: relative;
  height: 30px;
  bottom: 30px;
}

.AnswerText {
  position: relative;
  color: #9BD995;
  font-size: 18px;
  text-decoration: wavy;
  text-align: center;
  margin-top: 20px;
  right: 2.5%;
}

.CustomAnswer {
  margin-top: 8px;
  background-color: #323232;
  border: #323232 10px solid;
  border-radius: 10px;
  width: 97%;
  margin-left: 1.5%;
}

.AnswerComments {
  color: white;
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
}

.AnswerUser {
  color: white;
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 20px;
}

#MessageSend {
  position: relative;
  text-align: center;
  left: 10%;
  width: 80%;
  height: 50px;
  top: 40px;
  margin-top: 0px;
  background-color: #505050;
  border: #505050 10px solid;
  border-radius: 7px;
}

#inputmessage {
  position: relative;
  text-align: left;
  width: 99%;
  font-size: 22px;
  background-color: #505050;
  border: #505050 1px solid;
  color: white;
}

.ScrollBar {
  height: 720px; /* or any value */
    overflow-y: auto;
}

.GoBack {
  position: absolute;
  z-index: -1;
  height: 900px;
  width: 5%;
  margin-top: -50px;
  left: 266.5px;
  background-color: rgb(0, 0, 0, 0.3);
}

.SubmitOr {
  position: absolute;
  z-index: -1;
  height: 900px;
  width: 5%;
  margin-top: -70px;
  right: 266.5px;
  background-color: rgb(0, 0, 0, 0.3);
}

#GoBackText2 {
  position: absolute;
  transform: rotate(270deg);
  left: 200px;
  top: 325px;
}

#SubmitOrText2 {
  position: absolute;
  transform: rotate(90deg);
  right: 185px;
  top: 340px;
}

#MessageSend2 {
  position: relative;
  text-align: center;
  left: 10%;
  width: 80%;
  height: 50px;
  top: 40px;
  margin-top: 0px;
  background-color: #505050;
  border: #505050 10px solid;
  border-radius: 7px;
}

#ErrorOverlay {
  z-index: 10;
  position: fixed;
  text-align: center;
  top: 32.5%;
  left: 30%;
  right: 30%;
  background-color: #D6EECE;
  border: 10px solid #B8DCB6;
  border-radius: 15px;
  height: 35%;
  visibility: hidden;
}

#ErrorOops {
  margin-top: 20px;
  font-size: 40px;
  color: red;
}

#ErrorOops2 {
  margin-top: 10px;
  font-size: 30px;
  color: black;
}

#LeaveButton {
  position: relative;
  display: block;
  left: 35%;
  font-size: 17px;
  width: 30%;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #8CC986;
  border: 5px solid #8CC986;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  top: 15px;
}

.Lower {
  bottom: 50px;
}

.Smaller {
  font-size: 22px;
}

.DeletionImg2 {
  visibility: visible;
  position: relative;
  height: 30px;
  bottom: 5px;
}

.Deletion2 {
  visibility: hidden;
  cursor:pointer;
  position: relative;
  float: left;
}

#inputanswer {
  position: relative;
  text-align: left;
  width: 99%;
  font-size: 18px;
  top: 0px;
  background-color: #505050;
  border: #505050 1px solid;
  color: white;
}

#MessageSend3 {
  position: relative;
  text-align: center;
  left: 2.5%;
  width: 95%;
  height: 36px;
  margin-top: 20px;
  background-color: #505050;
  border: #505050 7px solid;
  border-radius: 7px;
}

#SearchMes {
  position: relative;
  text-align: left;
  width: 99%;
  font-size: 22px;
  background-color: #505050;
  border: #505050 1px solid;
  color: white;
}

.DeletionImg3 {
  visibility: visible;
  position: relative;
  height: 30px;
  bottom: 30px;
}

.Deletion3 {
  visibility: hidden;
  cursor:pointer;
  position: relative;
  float: right;
}

#ProgramLanguage {
  margin-top: 0px;
  font-size: 18px;
}

#bottomnav0 {
  position: relative;
  margin-top: 400px;
}