@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #DBF0DF;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 100px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 1rem;
}

nav ul li a {
  text-decoration-line: none;
  text-transform: uppercase;
  color: #bfe0bd;
}

nav ul li a:hover {
  color: #9BD995;
}

nav h1 {
  color: #D0F1CE;
  margin-bottom: 0.5rem;
  margin-top: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 17rem;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.card-name {
  color: #222;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.card-about {
  text-overflow: ellipsis;
  width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 1rem;
}

.btn {
  border: none;
  background: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.1);
  cursor: pointer;
  font-size: 1.25rem;
  margin: 0 1rem;
  padding: 0.25rem 2rem;
  transition: all 0.25s ease-in-out;
  background: hsl(110, 21%, 93%);
  color: hsl(141, 100%, 22%);
  margin-bottom: 1rem;
}

.btn:focus,
.btn:hover {
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.2);
  background: hsl(111, 21%, 86%);
}

.about-container {
  font-size: 1.25rem;
  margin-top: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

#menu {
  background-color: rgb(20, 20, 20);
  width: 100%;
  height: 100px;
}

#menu_text1 {
  color: rgb(208, 241, 206);
  margin-top: 2px;
  margin-left: -260px;
  font-size: 13px;
}

#menu_text2 {
  color: rgb(208, 241, 206);
  margin-top: 2px;
  margin-left: 0px;
  font-size: 13px;
}

#menu_text3 {
  color: rgb(208, 241, 206);
  margin-top: 2px;
  margin-left: 0px;
  font-size: 13px;
}

#menu_text4 {
  color: rgb(208, 241, 206);
  margin-top: 2px;
  margin-left: 0px;
  font-size: 13px;
}

#titled {
  padding-top:8px;
  padding-right:520px
}

#menu_fade {
  background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 50px;
  margin-top: 0px
}

#homepage_text {
  color: #254A22;
  text-align: left;
  font-weight: bolder;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 50px;
}

#ImageLogo {
  height: 300px;
  text-align: right;
  /* margin-bottom: 200px;
  margin-top: -280px;
  margin-left: 450px; */
  display: inline;
  position: absolute;
  margin-top: -30px;
  margin-left: 450px;
}

#BodyText1 {
  color: #000000;
  text-align: left;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 45%;
  position: absolute;
}

#login_button {
  display: inline-block;
  color: #3D3D3D;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  margin-left: 100px;
  margin-right: 470px;
  margin-bottom: 100px;
  margin-top: 240px;
  background-color: #8CC986;
  border-radius: 5px;
  border-width: 10px;
  border-color: #8CC986
}

#homepage_subtitle {
  color: #254A22;
  position: relative;
  font-weight: bolder;
  text-decoration: none;
  font-size: 20px;
}

#BodyText2 {
  position: relative;
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
  font-size: 20px;
}

#buttonA {
  display: block;
  position: relative;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  right: 32%;
  color: #3D3D3D;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  background-color: #8CC986;
  border-radius: 5px;
  border-color: #8CC986;
}

#buttonB {
  display: block;
  position: relative;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  left: 32%;
  bottom: 47px;
  color: #3D3D3D;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  background-color: #8CC986;
  border-radius: 5px;
  border-color: #8CC986;
}